
/* Your CSS Code here. */
body{
	background-color:#0A0A0A;
}
#header{
	margin:0px;
	background-color:#222222;
	height:100px;
	border-radius:8px;
}
#tag ul{
	display:flex;
	margin-top:0px;
}
#tag li{
	list-style:none;
	margin-top:70px;
}

#tag a{
	color:white;
	text-decoration:none;
	margin:10px;
	font-family:sans-serif;
	font-weight:bold;
	
}

#images{
	display:flex;
	flex-direction:column;
}

#images h1{
	font-family:sans-serif;
	color:white;
	margin:20px;
}

#images img{
	width:300px;
	height:200px;
	margin:10px;
	border-radius:8px;
}